# import the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing the data set

In [2]:
df = pd.read_csv("D:\\machine learning data sets\\Social_Network_Ads.csv")
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

# splting the data

In [3]:
x= df.drop(columns = ['Purchased'])
y = df['Purchased']

# spiliting the data into training and test data

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state = 0)

# feature scaling

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [6]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

# training the k neighbours on training set

from sklearn.neighbors import kneighborsClassifier

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
classifier = KNeighborsClassifier(n_neighbors = 5,metric = 'minkowski',p=2)

In [13]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [14]:
classifier.predict(sc.transform([[30,87000]]))

array([0], dtype=int64)